#map_container {
    position: relative;
    width: 100%;
    height: auto;

}

#map_pointer{
    visibility: hidden;
    background-color: red;
    height: 8px;
    width: 8px;
    transform: translate(-50%, -50%);
    position: absolute;
    
}

#map{
    width: 100%;
}